# podman run -dt --name db -e POSTGRES_USER=jackdodev -e POSTGRES_PASSWORD=wornr123 -p 5432:5432 -v postgres_data:/var/lib/postgresql/data postgres
version: "3.8"
services:
  db:
    image: postgres:15
    container_name: postgres_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: jackdodev
      POSTGRES_PASSWORD: wornr123
      POSTGRES_DB: webpage
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init:/docker-entrypoint-initdb.d
    networks:
      - backend-network
  backend:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: go_backend
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: jackdodev
      DB_PASSWORD: wornr123
      DB_NAME: webpage
      AWS_SHARED_CREDENTIALS_FILE: .aws/credentials
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - backend-network
volumes:
  postgres_data:

networks:
  backend-network: